.react-calendar {
  width: 100%;
  max-width: 400px;
  background: white;
  border: 1px solid #a0a096;
  border-radius: 8px;
  font-family: Arial, sans-serif;
  line-height: 1.5;
}

.react-calendar__tile--active {
  background: #006edc;
  color: white;
}

.react-calendar__tile--now {
  background: #ffff76;
}